header{
    background-color: rgb(0, 88, 219);
    height: 80px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    background-color: lightgray;
    height: 50px;
}

h1{
    color: black;
    font-size: 45px;
}

ul li {
    display: inline-block;
    padding: 0px 20px;
}

a{
    color:black;
    text-decoration: none;
}

a:hover{
    color: rgb(255, 72, 0);
}