*{
    margin: 0px;
    padding: 0px;
}
#aside{
    background-color: orangered;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 310px;
    height: 400px;
    font-size: 36px;
}
#titulo,#text,#boton{
    display:flex;
    justify-content: center;
    align-items: center;
}
p{
    margin-top: 80px;
}
button{
    margin: 20px;
    height: 60px;
    width: 150px;
}